    <div class="container h-full p-10">
      <div
        class="g-6 flex h-full flex-wrap items-center justify-center text-neutral-800 ">
        <div class="w-full">
          <div
            class="block rounded-lg bg-[#ffffff] shadow-lg w-[70%] h-[18%] ml-[17%] mt-[3%]">
            <div class="g-0 lg:flex lg:flex-wrap">
              <div class="px-4 md:px-0 lg:w-6/12">
                <div class="md:mx-6 md:p-12">
                  <div class="text-center">
                    <img class="mx-auto w-48" src="../../../assets/logo.png" alt="logo" />
                  </div>
                  <form>
                    <p class="mb-4 text-xl">Veuillez vous connecter à votre compte</p>
                    <div class="relative mb-4" data-te-input-wrapper-init>
                        <label for="exampleFormControlInput1">E-mail : </label>
                      <input
                        type="email"
                        class="peer block min-h-[auto] w-full rounded-[5px] border-[2px] py-[0.32rem] px-3 leading-[1.6] mt-[4px] outline-none focus:outline-[#1a6610]"
                        id="exampleFormControlInput1"
                        placeholder="Enter your email" />
                    </div>
                    <div class="relative mb-4" data-te-input-wrapper-init>
                    <div class="relative mb-4" data-te-input-wrapper-init>
                        <label for="exampleFormControlInput1">Password : </label>
                        <input
                        type="password"
                        class="peer block min-h-[auto] w-full rounded-[5px] border-[2px] py-[0.32rem] px-3 leading-[1.6] mt-[4px] outline-none focus:outline-[#1a6610]"
                        id="exampleFormControlInput1"
                        placeholder="Enter your password" />
                    </div>
                    </div>
                    <div class="mb-12 pt-1 pb-1 text-center">
                      <button
                        class="mb-3 inline-block w-full rounded px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
                        type="submit"
                        routerlink="/home"
                        data-te-ripple-init
                        data-te-ripple-color="light"
                        style="background: #1a6610;">
                        Se connecter
                      </button>
                    </div>
                    <div class="flex items-center justify-between pb-6">
                      <p class="mb-0 mr-2">Vous avez un problème ?</p>
                      <button
                        type="button"
                        class="inline-block rounded border-2 border-none w-[170px] h-[40px] bg-[#eb7719] hover:bg-[#da6b11]"
                        data-te-ripple-init
                        data-te-ripple-color="light">
                        Contacter l'admin
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div
                class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none h-[1à0%]"
                style="background: #e27324;">
                <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                  <h4 class="mb-6 text-xl font-semibold">
                    La gestion d'absence des les étudiants de la FSSM
                  </h4>
                  <p class="text-sm">
                    L'application facilite la gestion des absences pour les étudiants de la fssm, 
                    cela permet aux étudiants de justifier leurs absences sur la plateform.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>